## Artificial Neural Network - House Price Prediction

Artificial neural network to solve classification problem. To determine if the house price is above the median price or not.

In [1]:
# Dataset
# https://drive.google.com/file/d/1GfvKA0qznNVknghV4botnNxyH-KvODOC/view

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

from tensorflow import keras
from sklearn.model_selection import train_test_split

In [3]:
houseprice_df = pd.read_csv('housepricedata.csv')

In [4]:
# check the dimesions of dataset
houseprice_df.shape

(1460, 11)

In [5]:
# View first rows of dataset
houseprice_df.head()

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
0,8450,7,5,856,2,1,3,8,0,548,1
1,9600,6,8,1262,2,0,3,6,1,460,1
2,11250,7,5,920,2,1,3,6,1,608,1
3,9550,7,5,756,1,0,3,7,1,642,0
4,14260,8,5,1145,2,1,4,9,1,836,1

Last column 'AboveMedianPrice' determines if the house is above or below the median price.

In [6]:
# view stats of dataset
houseprice_df.describe()

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,6.099315,5.575342,1057.429452,1.565068,0.382877,2.866438,6.517808,0.613014,472.980137,0.498630
std,9981.264932,1.382997,1.112799,438.705324,0.550916,0.502885,0.815778,1.625393,0.644666,213.804841,0.500169
min,1300.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
25%,7553.500000,5.000000,5.000000,795.750000,1.000000,0.000000,2.000000,5.000000,0.000000,334.500000,0.000000
50%,9478.500000,6.000000,5.000000,991.500000,2.000000,0.000000,3.000000,6.000000,1.000000,480.000000,0.000000
75%,11601.500000,7.000000,6.000000,1298.250000,2.000000,1.000000,3.000000,7.000000,1.000000,576.000000,1.000000
max,215245.000000,10.000000,9.000000,6110.000000,3.000000,2.000000,8.000000,14.000000,3.000000,1418.000000,1.000000

### Separate the data into features and labels

In [7]:
# labels: is a result we want
# features: the variables we can use to classify the house price

In [8]:
# Define labels as (y) and features as (x)

y = houseprice_df['AboveMedianPrice']                      # Target variable (label)
x = houseprice_df.drop(columns=['AboveMedianPrice'])       # the remaining 20 variables (features)

In [9]:
# check the first 5 observations of the labels (y)
y[0:5]

0    1
1    1
2    1
3    0
4    1
Name: AboveMedianPrice, dtype: int64

We can see the output above that the median house price is either 0 or 1.

In [10]:
# check the first 5 observations of all the features
x[0:5]

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea
0,8450,7,5,856,2,1,3,8,0,548
1,9600,6,8,1262,2,0,3,6,1,460
2,11250,7,5,920,2,1,3,6,1,608
3,9550,7,5,756,1,0,3,7,1,642
4,14260,8,5,1145,2,1,4,9,1,836

We can see the above output shows the 10 columns (10 variables for the features)

As all of the data is already numerical, we don't need to convert them.

In [11]:
# Each row now needs to be converted into a matrix                      

y = y.values.astype('float32')
x = x.values.astype('float32')

### Split data into Train and Test sets

In [12]:
# split the features and labels data (70/30)

# Test dataset:

y_train, y_test, x_train, x_test = train_test_split(y, x, test_size = 0.3)

In [13]:
# Validation dataset:

y_train, y_validation, x_train, x_validation = train_test_split(y_train, x_train, test_size = 0.3)

## Create Model

In [14]:
# Using keras sequential model. 
# choose number of layers to add to model, and what type of activation function you want for each layer.
model = keras.Sequential([keras.layers.Dense(32, input_shape = (10,)),      # Input layer: 32 nodes, (10 feature columns)
                          keras.layers.Dense(5, activation = tf.nn.relu),   # Hidden layers: activation used: tensorflow rectified linear unit
                          keras.layers.Dense(2, activation = 'softmax')])   # Output layer: 2 nodes at output (above or below median price). activation used: softmax

In [15]:
# Compile model
model.compile(optimizer = 'adam',                       #  adam optimisation for model                   
             loss = 'sparse_categorical_crossentropy',  # loss function: what aspect we want to minimise as model progresses
             metrics = ['acc'])                         # we want to analyse accuracy metric

In [16]:
# Fit data to model
history = model.fit(x_train, y_train, epochs=25, validation_data=(x_validation, y_validation))  # epochs: how many times we want to repeat training

Epoch 1/25
23/23 [==============================] - 1s 41ms/step - loss: 4217.8827 - acc: 0.5112 - val_loss: 2759.4998 - val_acc: 0.5179
Epoch 2/25
23/23 [==============================] - 0s 4ms/step - loss: 2701.5867 - acc: 0.4905 - val_loss: 1686.5132 - val_acc: 0.5179
Epoch 3/25
23/23 [==============================] - 0s 4ms/step - loss: 1677.3078 - acc: 0.4893 - val_loss: 727.1976 - val_acc: 0.5179
Epoch 4/25
23/23 [==============================] - 0s 4ms/step - loss: 582.9317 - acc: 0.4715 - val_loss: 0.7692 - val_acc: 0.4756
Epoch 5/25
23/23 [==============================] - 0s 4ms/step - loss: 0.7993 - acc: 0.5062 - val_loss: 0.7010 - val_acc: 0.4821
Epoch 6/25
23/23 [==============================] - 0s 4ms/step - loss: 0.6942 - acc: 0.5179 - val_loss: 0.7008 - val_acc: 0.4821
Epoch 7/25
23/23 [==============================] - 0s 4ms/step - loss: 0.6967 - acc: 0.5039 - val_loss: 0.7004 - val_acc: 0.4821
Epoch 8/25
23/23 [==============================] - 0s 4ms/step - loss: 0.6997 - acc: 0.4860 - val_loss: 0.7001 - val_acc: 0.4821
Epoch 9/25
23/23 [==============================] - 0s 4ms/step - loss: 0.7014 - acc: 0.4748 - val_loss: 0.6998 - val_acc: 0.4821
Epoch 10/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6943 - acc: 0.5144 - val_loss: 0.6995 - val_acc: 0.4821
Epoch 11/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6990 - acc: 0.4845 - val_loss: 0.6991 - val_acc: 0.4821
Epoch 12/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6971 - acc: 0.4940 - val_loss: 0.6988 - val_acc: 0.4821
Epoch 13/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6960 - acc: 0.4996 - val_loss: 0.6984 - val_acc: 0.4821
Epoch 14/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6944 - acc: 0.5095 - val_loss: 0.6981 - val_acc: 0.4821
Epoch 15/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6950 - acc: 0.5044 - val_loss: 0.6979 - val_acc: 0.4821
Epoch 16/25
23/23 [==============================] - 0s 2ms/step - loss: 0.6969 - acc: 0.4895 - val_loss: 0.6976 - val_acc: 0.4821
Epoch 17/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6968 - acc: 0.4883 - val_loss: 0.6973 - val_acc: 0.4821
Epoch 18/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6966 - acc: 0.4877 - val_loss: 0.6970 - val_acc: 0.4821
Epoch 19/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6922 - acc: 0.5229 - val_loss: 0.6968 - val_acc: 0.4821
Epoch 20/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6928 - acc: 0.5174 - val_loss: 0.6965 - val_acc: 0.4821
Epoch 21/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6947 - acc: 0.4983 - val_loss: 0.6962 - val_acc: 0.4821
Epoch 22/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6940 - acc: 0.5038 - val_loss: 0.6959 - val_acc: 0.4821
Epoch 23/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6962 - acc: 0.4786 - val_loss: 0.6957 - val_acc: 0.4821
Epoch 24/25
23/23 [==============================] - 0s 2ms/step - loss: 0.6930 - acc: 0.5131 - val_loss: 0.6956 - val_acc: 0.4821
Epoch 25/25
23/23 [==============================] - 0s 3ms/step - loss: 0.6926 - acc: 0.5165 - val_loss: 0.6955 - val_acc: 0.4821

In [17]:
# Test model on TEST dataset:

prediction_features = model.predict(x_test)     # Appplying the model on the features 
performance = model.evaluate(x_test, y_test)    # check performance based on the TEST features and TEST labels 
print(performance)

14/14 [==============================] - 0s 1ms/step - loss: 0.6929 - acc: 0.5137
[0.6928657293319702, 0.5136986374855042]

From looking at the results of testing the model on the TEST dataset, we can see that we get an accuracy of 51.3%